.movieDetailsContent {
  background: var(--gray-800);
  padding: 1.25rem 2rem;
  display: flex;
  gap: 2rem;

  border-radius: 16px;
  
  img {
    height: 16rem;
    border-radius: 8px;
  }

  main {
    color: var(--gray-400);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.cardContent {
  > svg {
    color: var(--green-500);
    margin-bottom: 0.5rem;
  }

  h1, h3 {
    color: var(--gray-300);
    line-height: 1.4;
  }
  
  p {
    margin-top: 0.25rem;
    color: var(--gray-500);

    b {
      margin-right: 0.5rem;
      color: var(--gray-400);
    }
  }
}

.deleteButton {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
  align-self: flex-start;

  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }
}
